* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #faf2fc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor {
    width: 550px;
    height: 550px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #01070f;
    margin-bottom: 10px;
    font-size: 28px;
}

p {
    margin-bottom: 20px;
    color: #500808;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

label {
    text-align: center;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 16px;
    width:220px;
    align-self: center;
}

input:focus {
    outline: none;
    border-color: #0dfd35;
}

input[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #770250;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;  
    width: 180px;
    align-self: center;
}


button:hover {
    background-color: #089820;
}

#mensaje {
    margin-top: 10px;
    font-weight: bold;
    color: red;
}
@media (max-width: 700px) {

    .contenedor {
        width: 90%;
        height: auto;
        min-height: 550px;

        padding: 50px 35px;

        border-radius: 50%;
    }

}