body {
    font-family: Arial, sans-serif;
    background-color: #ffe0ef;
    text-align: center;
    padding-top: 40px;
}

h1 {
    color: #d6336c;
}

input {
    padding: 8px;
    margin: 5px;
    border: 2px solid #ff8fc4;
    border-radius: 5px;
}

button {
    background-color: #ec4899;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d6336c;
}

#resultado {
    background-color: #ffd6ea;
    font-weight: bold;
    color: #a3305c;
}