* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #110d01;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
}

.contenedor {
    width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
}

h1 {
    text-align: center;
    color: #06030f;
    margin-bottom: 10px;
}

.contenedor > p {
    text-align: center;
    color: #666;
    margin-bottom: 22px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 6px;
    color: #34495e;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: #34495e;
}

input[readonly] {
    background-color: #eeeeee;
    font-weight: bold;
    cursor: not-allowed;
}

button {
    padding: 11px;
    background-color: #872fc2;
    color: rgb(1, 19, 2);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 16px;
}

button:hover {
    background-color: #08ce4a;
}

#mensaje {
    text-align: center;
    color: #c0392b;
    font-weight: bold;
}